@tailwind base;

/* Scroll Bar */
html::-webkit-scrollbar {
  width: 5px;
}

html::-webkit-scrollbar-thumb {
  background: #1690e8;
  border-radius: 16px;
}

html::-webkit-scrollbar-track {
  background-color: transparent;
}
/* Font Family */
* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}
@tailwind components;
@tailwind utilities;